@import 'tailwindcss';

@theme {
  --color-app-bg-base: var(--color-gray-900);
  --color-app-bg-surface: var(--color-gray-800);
  --color-app-bg-muted: var(--color-gray-700);
  --color-app-bg-hover: var(--color-gray-600);

  --color-app-border: var(--color-gray-700);
  --color-app-border-muted: var(--color-app-bg-surface);

  --color-app-text: var(--color-white);
  --color-app-text-primary: var(--color-gray-100);
  --color-app-text-muted: var(--color-gray-400);
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/FiraCode-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/assets/fonts/FiraCode-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/assets/fonts/FiraCode-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/assets/fonts/FiraCode-Bold.woff2') format('woff2');
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

:root {
  font-family: 'Fira Code', ui-monospace, monospace;
  font-variant-ligatures: contextual;

  --dracula-background: #1f2937;
  --dracula-foreground: #f8f8f2;
  --dracula-red: #ff5555;
  --dracula-orange: #ffb86c;
  --dracula-yellow: #f1fa8c;
  --dracula-green: #50fa7b;
  --dracula-cyan: #8be9fd;
  --dracula-purple: #bd93f9;
  --dracula-pink: #ff79c6;
}

/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

/* Track (the background) */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle (the part you grab) */
::-webkit-scrollbar-thumb {
  background: #44475a;
  border-radius: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #44475a;
}
